.text{
    margin-left: 25px;
}

.profile{
    vertical-align: middle;
    text-align: center;
}

.link-underline {
    text-decoration: none;
  }

.font{
    font-family: 'Bai Jamjuree', sans-serif;
}
