 .radius{
  width: 125px;
  height: 150px;
  border-radius: 50%;
  }

.content{
    /* display: inline-block;
    background-color: black;
    margin-bottom: 2rem; */
}

.align-left{
  vertical-align: top;
  display: inline-block;
  background-color: gray;
  margin-bottom: 2rem;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
}

.align-center{
  vertical-align:middle;
  justify-content: center;
  text-align: center;
  display: inline-block;
  background-color: gray;
  margin-bottom: 2rem;
}

.title{
  background-color:#3498DB;
  color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
}

.picture{
  background-color: green;
  padding: 10px;
}

.text{
  margin-left: 30px;
}