 .radius{
  width: 125px;
  height: 150px;
  border-radius: 50%;
  }

.content{
    display: inline-block;
}

.align-left{
  vertical-align: top;
  padding: 10px;
  justify-content: start;
  text-align: start;
  width: 70%;
}

.align-center{
  justify-content: center;
  text-align: center;
  width: 30%;
}

.title{
  background-color:#3498DB;
  color: white;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
}
